# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Flask
instance/
*.db

# Logs
*.log

# Virtual environments
venv/
ENV/
env/